.*.swp
*.pyc
*.o
*.class
*.spec
gmvault.log
.DS_Store
dists/disstoolbox-dist/build
dists/disstoolbox-dist/build/*
.idea/
.idea/*
build/
gmvault.egg-info/
venv/
.venv/
env/
dist/
__pycache__/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.egg

